{% extends 'mainapp/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Add Tax Slab</h5>
                    <span class="text-muted">Add New Tax Slab</span>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="feather icon-maximize full-card"></i></li>
                            <li><i class="feather icon-minus minimize-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                {{ form.value|attr:"tabindex:1"|as_crispy_field }}
                            </div>
                            <div class="col-md-4 pt-1">
                                <input class="btn btn-success mt-4" type="submit" value="Save"
                                       tabindex="2">
                                <a class="btn btn-secondary mt-4" href="{% url 'tax_slab_index' %}" accesskey="b"><u>B</u>ack</a>
                            </div>
                            <div class="col-sm-12">
                                {{ form.errors }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
